.main {
  display: flex;
  column-gap: 18px;
  width: 1176px;
  margin: 115px auto;
}

.webshop {
  &__order-button {
    background-color: $primaryWebshopColor;
  }

  &__price {
    background-color: $primaryWebshopColor;
  }
}
