$cardBackgroundColor: #334247;
$primaryBasicColor: #5bb189;
$primaryBusinessColor: #3a6ba5;
$primaryWebshopColor: #ec632a;
$oddBackgroundEventColor: #2a343880;
$labelBackgroundColor: #dc3f45;

$fontPrimaryColor: #fff;
