.price-card__order-btn {
  display: block;
  padding: 11px 27px 12px 28px;
  margin: 40px auto;
  border: none;
  outline: none;
  width: 155px;
  height: 40px;
  background: $primaryBasicColor;
  border-radius: 20px;
  font-size: 14px;
  line-height: 17px;
  color: $fontPrimaryColor;
  text-transform: uppercase;

  &_business-color {
    background-color: $primaryBusinessColor;
  }

  &_webshop-color {
    background-color: $primaryWebshopColor;
  }
}
