* {
  box-sizing: border-box;
}

body {
  display: flex;
  height: 100vh;
  font-family: 'Montserrat', sans-serif;
  background-color: $mainBackgroundColor;
}

.main {
  display: flex;
  column-gap: 18px;
  margin: auto;
  width: 1176px;
}
