* {
  box-sizing: border-box;
}

body {
  display: flex;
  height: 100vh;
  font-family: 'Montserrat', sans-serif;
  background-color: $mainBackgroundColor;
}

.main {
  display: flex;
  column-gap: 18px;
  margin: auto;
  width: 1176px;
}

.price-card {
  flex: 1 1 0;
  height: 770px;
  background-color: $cardBackgroundColor;

  &_business-style {
    position: relative;
    overflow: hidden;
  }

  &__label {
    position: absolute;
    top: 30px;
    right: -35px;
    padding-top: 4px;
    padding-bottom: 5px;
    width: 147px;
    height: 25px;
    text-transform: uppercase;
    text-align: center;
    background: $labelBackgroundColor;
    transform: rotate(45deg);
    color: $fontPrimaryColor;
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
  }

  &__title {
    margin-top: 33px;
  }

  &__heading {
    margin: 0;
    font-weight: 700;
    font-size: 35px;
    line-height: 43px;
    text-align: center;
    color: $fontPrimaryColor;
  }

  &__caption {
    font-weight: 300;
    font-size: 20px;
    line-height: 25px;
    text-align: center;
    color: $fontPrimaryColor;
  }

  &__price {
    padding: 19px 0;
    margin-top: 33px;
    font-weight: 700;
    font-size: 55px;
    line-height: 67px;
    text-align: center;
    color: $fontPrimaryColor;
    background-color: $primaryBasicColor;

    &_business-color {
      background-color: $primaryBusinessColor;
    }

    &_webshop-color {
      background-color: $primaryWebshopColor;
    }
  }

  &__description {
    margin: 40px auto 0;
    width: 327px;
    font-weight: 300;
    font-size: 15px;
    line-height: 18px;
    text-align: center;
    color: #ffffff;
  }

  &__options-list {
    padding: 0;
    margin: 0;
    margin-top: 40px;
    list-style: none;
  }

  &__list-item {
    position: relative;
    padding: 16px 0 16px 59px;
    font-weight: 300;
    font-size: 15px;
    line-height: 18px;
    color: $fontPrimaryColor;

    &:nth-of-type(odd) {
      background: $oddBackgroundEventColor;
    }

    &::before {
      content: url(https://gromcode.s3.eu-central-1.amazonaws.com/front-end/html-css/lesson+25/verification-checkmark-symbol_green.png);
      position: absolute;
      top: 18px;
      left: 22px;
    }

    &_business-color {
      &::before {
        content: url(https://gromcode.s3.eu-central-1.amazonaws.com/front-end/html-css/lesson+25/verification-checkmark-symbol_blue.png);
      }
    }

    &_webshop-color {
      &::before {
        content: url(https://gromcode.s3.eu-central-1.amazonaws.com/front-end/html-css/lesson+25/verification-checkmark-symbol_orange.png);
      }
    }
  }

  &__order-btn {
    display: block;
    padding: 11px 27px 12px 28px;
    margin: 40px auto;
    border: none;
    outline: none;
    width: 155px;
    height: 40px;
    background: $primaryBasicColor;
    border-radius: 20px;
    font-size: 14px;
    line-height: 17px;
    color: $fontPrimaryColor;
    text-transform: uppercase;

    &_business-color {
      background-color: $primaryBusinessColor;
    }

    &_webshop-color {
      background-color: $primaryWebshopColor;
    }
  }
}
