.price-card {
  flex: 1 1 0;
  height: 770px;
  background-color: $cardBackgroundColor;

  &_business-style {
    position: relative;
    overflow: hidden;
  }

  &__label {
    position: absolute;
    top: 30px;
    right: -35px;
    padding-top: 4px;
    padding-bottom: 5px;
    width: 147px;
    height: 25px;
    transform: rotate(45deg);
    text-transform: uppercase;
    text-align: center;
    background: $labelBackgroundColor;
    color: $fontPrimaryColor;
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
  }

  &__title {
    margin-top: 33px;
  }

  &__heading {
    margin: 0;
    font-weight: 700;
    font-size: 35px;
    line-height: 43px;
    text-align: center;
    color: $fontPrimaryColor;
  }

  &__caption {
    font-weight: 300;
    font-size: 20px;
    line-height: 25px;
    text-align: center;
    color: $fontPrimaryColor;
  }

  &__price {
    padding: 19px 0;
    margin-top: 33px;
    font-weight: 700;
    font-size: 55px;
    line-height: 67px;
    text-align: center;
    color: $fontPrimaryColor;
    background-color: $primaryBasicColor;

    &_blue {
      background-color: $primaryBusinessColor;
    }

    &_orange {
      background-color: $primaryWebshopColor;
    }
  }

  &__description {
    margin: 40px auto 0;
    width: 327px;
    font-weight: 300;
    font-size: 15px;
    line-height: 18px;
    text-align: center;
    color: $priceCardDescriptionColor;
  }

  &__options-list {
    padding: 0;
    margin: 0;
    margin-top: 40px;
    list-style: none;
  }

  &__list-item {
    position: relative;
    padding: 16px 0 16px 22px;
    font-weight: 300;
    font-size: 15px;
    line-height: 18px;
    color: $fontPrimaryColor;

    &:nth-of-type(odd) {
      background: $oddBackgroundEventColor;
    }
  }

  &__icon {
    display: inline-block;
    font-size: 0;
    margin-right: 19px;
    height: 13px;
    width: 15px;

    &_green {
      background: url(https://gromcode.s3.eu-central-1.amazonaws.com/front-end/html-css/lesson+25/verification-checkmark-symbol_green.png);
    }
    &_blue {
      background: url(https://gromcode.s3.eu-central-1.amazonaws.com/front-end/html-css/lesson+25/verification-checkmark-symbol_blue.png);
    }

    &_orange {
      background: url(https://gromcode.s3.eu-central-1.amazonaws.com/front-end/html-css/lesson+25/verification-checkmark-symbol_orange.png);
    }
  }

  &__order-btn {
    display: block;
    padding: 11px 27px 12px 28px;
    margin: 40px auto;
    width: 155px;
    height: 40px;
    border: none;
    border-radius: 20px;
    outline: none;
    background: $primaryBasicColor;
    font-size: 14px;
    line-height: 17px;
    color: $fontPrimaryColor;
    text-transform: uppercase;

    &_blue {
      background-color: $primaryBusinessColor;
    }

    &_orange {
      background-color: $primaryWebshopColor;
    }
  }
}
